@mixin searchbtn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #dab149;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
    
}
  